{% extends "enroll/base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-sm-8">  
        <h4 class="text-center alert alert-success"> Student Record </h4>
        <hr>
        {% if student %}
            <table class="table table-hover table-bordered"> <!-- Added borders for clarity -->
                <thead>
                    <tr>
                        <th scope="col">Sr No.</th>
                        <th scope="col">Profile</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stu in student %}
                    <tr>
                        <th scope="row"> {{ forloop.counter }} </th>
                        <td>
                          {% if stu.Profile_Images %}
                          <div class="img">
                              <img src="{{ stu.Profile_Images.url }}" alt="Employee Image" class="rounded-circle mx-auto d-block"
                                   style="width: 60px; height: 60px; object-fit: cover;">
                          </div>
                          {% else %}
                              <img src="{% static 'enroll/images/profile.svg' %}" alt="Employee Image" class="rounded-circle mx-auto d-block"
                                   style="width: 60px; height: 60px; object-fit: cover;">
                          {% endif %}
                        </td>                      
                        <td> {{ stu.name }} </td>
                        <td> {{ stu.email }} </td>
                        <td> {{ stu.password }} </td>
                        <td>
                            <a href="{% url 'update_data' stu.id %}" class="btn btn-outline-success btn-sm"> Edit </a>
                            <form action="{% url 'delete' stu.id %}" method="POST" class="d-inline">
                                {% csrf_token %}
                                <input class="btn btn-outline-danger btn-sm" type="Submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h4 class="text-center alert alert-warning"> No Record </h4>
        {% endif %}
        <!-- Centered Back Button -->
      <div class="mt-3">
        <a href="{% url 'add_data' %}" class="btn btn-primary">Back</a>
      </div>
    </div>

    <div class="col-sm-4 mt-2">
      <img src="{% static 'enroll/images/record.jpg'%}" alt="img" height = "500px" width="500px">
    </div>

    
</div>
{% endblock content %}